<div class="row justify-content-md-center profile-wrapper">
<div class="col-md-4 text-center">
<%= image_tag("user.jpeg", :width => "152", :height => "152", class: "round-img") %>
</div>
<div class="col-md-8">
<div class="row">
<p class= "username"><%= @user.username %></p>
<% if @user == current_user %>

<%= link_to "Edit profile", edit_user_registration_path, class:"btn btn-outline-dark btn-sm" %>

<% end %>

</div>

<div class="row">
<p class= "email"><%= @user.email %></p>
</div>

</div>
</div>


<%if @user.public_account?%>
<div class="conatiner mt-5">
<div class="shadow p-4 max-auto"style="max-width:400px">
 <h2>Stories</h2>
<% @stories.each do |story| %>
  <div class="position-relative me-2">
    <%= image_tag(story.image,style:'width:20%;border-radius:30px;')%>
    <br/>
    <%=story.user.username%>
  </div>
<%end%>
</div>
</div>
<br/>
<%=@post%>
<div style="width:400px;height:auto">
<%= image_tag(current_user.image,style:'width:20%;border-radius:30px;')%>
<br />
<h3><%= current_user.firstname%></h3>
</div>
<div>
Stories:
<%= render 'stories/index'%>
</div>
<br />
<div class="card mb-3 shadow" style="max-width: 540px;">
<div class="contaier  m-3">
<h1> Posts</h1>
<% @posts.each do |post| %>
    <br>
    <b> Title:</b> <%= post.title %>
     <br>
     <b>Description:</b> <%= post.description %>
  <%(post.images).each do |image|%>
    <div style="width:50px;height:auto;">
      <%= image_tag(image,class:"contaier text-center")%>
    </div>
  <%end%>
    <br><%= (post.likes.count) == 1 ? 'Like' : 'Likes'%><%=post.likes.count%>
    <%= like_check(post)%>
  <%= form_with(model: [post, post.comments.build ], remote: true) do |form| %>
    <%= form.label :Comment_here %>
    <br>
    <%= form.text_field :body, required: true %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <br>
    <%= form.submit class:"btn btn-success" %>
  <%end%>
       <%= render partial: 'comments/comment', collection: post.comments ,as: :comment%>
<%end%>
<br>
</div>
</div>
  <%else%>
  Account is private
<%end%>
<%= link_to 'Back',root_path,class:"btn btn-primary"%>
