<div class="row">
<div class="col-6" style="margin: auto; margin-top: 30px; margin-bottom: 30px;">
<h1>Create Your Post</h1>
<%= form_with scope: :post, url: posts_path, local: true do |form| %>
    <% if @post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
    
          <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    
      <p>
        <%= form.label :title %><br>
        <%= form.text_field :title, class:"form-control",required: true %>
      </p>
      <p>
        <%= form.label :description %><br>
        <%= form.text_area :description, class:"form-control",required: true %>
      </p>
      <div class="field form-group">
       <%= form.label :images%>
       <%= form.file_field :images,multiple: true , class:"form-control",required: true, accept: "image/png,image/jpg,image/jpeg"%>
     </div>
      <p>
        <%= form.submit class:"btn btn-success", style: "margin-top: 10px;" %>
      </p>
    <% end %>
  
    


</div>
</div>
